.welcome_container {
  display: flex !important;
  flex-direction: column;
  gap: 80px;
  padding: 20px 0;
}

.welcome_about {
  display: flex;
  justify-content: space-around ;
  align-items: center;
}

.welcome_title {
  font-family: Roboto, sans-serif !important;
  font-size: 2rem !important;
  color: #2c3849 !important;
  font-weight: 700 !important;
  line-height: 1 !important;
}

.welcome_description {
  font-family: Roboto, sans-serif !important;
  color: #8d8d8d;
  margin-top: 8px !important;
}
