.about_title {
  font-size: 3rem !important;
  color: #3f5069;
  font-family: Roboto, sans-serif !important;
  font-weight: 400 !important;
  text-align: center;
}

.about_container {
  display: flex;
  border: 1px solid #1976d2;
  border-radius: 8px;
  overflow: hidden;
}

.about_description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
